In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
%matplotlib inline
import os
from datetime import datetime
import pandas as pd
import pandas_datareader.data as web
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt
import mplfinance as mpf
import seaborn as sns
from pathlib import Path
from concurrent.futures import ThreadPoolExecutor

In [3]:
data_path = Path('/Volumes/My Book/001_PM/001_Data') # set to e.g. external harddrive
DATA_STORE = data_path/'all_us_stocks.h5'

In [102]:
all_us_stocks = (pd.read_csv(data_path/'US_ALL_Stocks.csv', dtype=str)
     .sort_index())
all_us_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6782 entries, 0 to 6781
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  6781 non-null   object
dtypes: object(1)
memory usage: 53.1+ KB

In [4]:
# sp_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
# sp500_constituents = pd.read_html(sp_url, header=0)[0]

In [103]:
# sp500_constituents.info()

In [104]:
# sp500_constituents.head()

In [105]:
# print(sp500_constituents['Symbol'])

In [10]:
# all_us_stocks = (pd.read_csv(data_path/'US_ALL_Stocks.csv', dtype=str))
# print(all_us_stocks.head(20))
# symbol = all_us_stocks.loc[16]['Symbol']
# ticker = yf.Ticker(symbol)
# print(ticker)

In [80]:
data = yf.download(all_us_stocks, start='2007-01-01', group_by="ticker")

[*********************100%%**********************]  3 of 3 completed

In [81]:
# data.head()

                  AAPL                                                  \
                  Open        High         Low       Close   Adj Close
Date
2024-03-19  174.339996  176.610001  173.029999  176.080002  176.080002
2024-03-20  175.720001  178.669998  175.089996  178.669998  178.669998
2024-03-21  177.050003  177.490005  170.839996  171.369995  171.369995
2024-03-22  171.759995  173.050003  170.059998  172.279999  172.279999
2024-03-25  170.570007  171.940002  169.449997  170.850006  170.850006

                             MMM                                              \
               Volume       Open       High        Low      Close  Adj Close
Date
2024-03-19   55215200  88.453178  89.464882  87.416389  88.060204  88.060204
2024-03-20   53423100  87.784279  91.220734  87.324417  90.392975  90.392975
2024-03-21  106181300  90.468224  91.295990  90.125420  90.192307  90.192307
2024-03-22   71106600  89.966553  90.401337  89.255852  89.280937  89.280937
2024-03-25   54288300  88.545151  89.306023  87.608696  87.658859  87.658859

                            ABT                                      \
             Volume        Open        High         Low       Close
Date
2024-03-19  6987869  112.440002  114.419998  112.040001  113.160004
2024-03-20  8390299  113.000000  113.239998  110.730003  111.500000
2024-03-21  7886663  111.949997  112.139999  111.010002  111.510002
2024-03-22  5321243  111.519997  111.980003  110.540001  110.570000
2024-03-25  6680019  110.449997  110.800003  109.110001  110.010002


             Adj Close   Volume
Date
2024-03-19  112.601562  8299200
2024-03-20  110.949753  8317300
2024-03-21  110.959702  9722700
2024-03-22  110.024338  5387100
2024-03-25  109.467110  6622400

In [112]:
print(data['AAPL']['Open']['2024-03-20'])

175.72000122070312

In [83]:
with pd.HDFStore(DATA_STORE) as store:
    store.put('all_us_stocks/prices', data)

In [88]:
with pd.HDFStore(DATA_STORE) as store:
    us_stocks_prices = store['all_us_stocks/prices']

In [89]:
# sp500_prices.set_index('A', inplace=True)

In [97]:
print(us_stocks_prices['AAPL']['Close']['2024-03-19'])

176.0800018310547

In [98]:
# def get_stats(ticker):
#     info = yf.Tickers(ticker).tickers[ticker].info
#     print(f"{ticker} {info['currentPrice']} {info['previousClose']}")

# ticker_list = []
# for x in range(4):
#     ticker_list.append(all_us_stocks.loc[x]['Symbol'])
    

# with ThreadPoolExecutor() as executor:
#     executor.map(get_stats, ticker_list)